# ***DATA STRUCTURES ASSIGNMENT***

# **Data Types and Structures Questions**

**1. What are data structures, and why are they important?**

Data structures are organized ways to store and manage data in a program. They're important because they help us handle data efficiently, making it easier to perform tasks like searching, sorting, and updating information. Without proper data structures, even simple programs can become messy and slow.

**2. Difference between mutable and immutable data types (with examples):**

**Mutable:** These can be changed after creation.
**➤ Example:** Lists

In [60]:
my_list = [1, 2, 3]
my_list[0] = 100  # Allowed
my_list

[100, 2, 3]

**Immutable:** These cannot be changed once created.
**➤ Example:** Tuples, Strings

In [61]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 100  # Error

**3. Main differences between lists and tuples:**

**Feature - List	-Tuple,**

Mutable	  -Yes	   -No

Syntax-	[]	-()

Performance	-Slower	-Faster

Use Case-	Dynamic data-	Fixed data

**4. How dictionaries store data:**

Dictionaries store data in key-value pairs. Each key is unique and points to a specific value. Internally, they use a hash table, which allows fast lookups.
**Example:**

In [62]:
student = {"name": " KT Dhanush", "age": 20}

5. **Why use a set instead of a list?**

Use a set when

*   You don’t want duplicates
*   You need fast membership checking

**Example:**

In [63]:
my_set = {1, 2, 3, 3}  # Result: {1, 2, 3}
my_set

{1, 2, 3}

**6. What is a string in Python, and how is it different from a list?**

A string is a sequence of characters. Unlike lists, strings are immutable, which means you can’t change a single character in place. Lists can hold any data type and are mutable.
Example:

In [64]:
text = "hello"
# text[0] = "H"  # Not allowed

**7. How do tuples ensure data integrity?**

Tuples are immutable, so once you create them, the data inside can’t be changed. This makes them great for storing constant data, like coordinates or configuration values, where accidental changes should be avoided.

**8. What is a hash table, and how is it related to dictionaries?**

A hash table is a data structure that maps keys to values using a hashing function. In Python, dictionaries are implemented using hash tables. This is what allows them to access data in constant time (O(1))

**9. Can lists contain different data types in Python?**

Yes, Python lists can hold mixed data types.
Example:

This is one reason Python is called dynamically typed.

In [65]:
mixed_list = [1, "hello", 3.14, True]

**10. Why are strings immutable in Python?**

Strings are immutable to:

>Make them safe for use as keys in dictionaries

>Improve performance by saving memory

>Avoid accidental data modification

**11. Advantages of dictionaries over lists:**

Faster lookup using keys

Organized data via key-value pairs

Better for storing structured data
Example: Retrieving a name by ID is easier in a dictionary than searching a list.

**12. When to use a tuple instead of a list?**

Use a tuple when:

Data shouldn't change

You want faster performance

You need hashable data

**13. How do sets handle duplicate values?**

Sets automatically ignore duplicates.

In [66]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

**14. “in” keyword for lists vs. dictionaries:**

List: Checks if an element exists in the list.

Dictionary: Checks if a key exists (not the value).
Example:

In [67]:
my_dict = {"name": "DJ", "age":20}
my_list = [1, 2, 3, 4]

**15. Can you modify tuple elements? Why or why not?**

Nope. Tuples are immutable, so you can’t change their content.
If you try:

In [68]:
t = (1, 2, 3)
t[0] = 10  # Error

TypeError: 'tuple' object does not support item assignment

**16. What is a nested dictionary? Example use case:**

A nested dictionary is a dictionary within another dictionary.
Example:


✅ Use case: Storing student records, employee data, etc.

In [69]:
students = {
    "101": {"name": "Dhanush", "age": 19},
    "102": {"name": "Arjun", "age": 20}
}

**17. Time complexity of accessing elements in a dictionary:**


Accessing values in a dictionary is O(1) (constant time) thanks to the hash table mechanism. So it's super fast, even with large amounts of data.

**18. When are lists preferred over dictionaries?**

Use lists when:

The order of elements matters

You just need a sequence of values

You don’t need key-value mapping

**19. Why are dictionaries considered unordered? How does it affect retrieval?**

Earlier in Python (<3.6), dictionaries didn’t preserve order. From Python 3.7+, they do maintain insertion order.
But logically, they're still treated as unordered because:

You shouldn't rely on position

Retrieval is by key, not by index

**20. Difference between list and dictionary in data retrieval:**

**List:** Use index to access items → my_list[2]

**Dictionary**: Use key to access values → my_dict["name"]
Dictionaries are better for named data, lists for sequences.

## **Practical Questions**

In [70]:
# 1. Create a string with your name and print it
name = "KT Dhanush"
print(name)

KT Dhanush

In [71]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [72]:
# 3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [73]:
# 4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [74]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [76]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [77]:

# 7. Append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [78]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [80]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [81]:
# 10. Reverse the list [10, 20, 30, 40, 50]
values = [10, 20, 30, 40, 50]
values.reverse()
print(values)

[50, 40, 30, 20, 10]

In [82]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [83]:
# 12. Access the second-to-last element of the tuple
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [84]:

# 13. Find the minimum number in the tuple
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [85]:
# 14. Find the index of the element "cat" in the tuple
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [86]:
# 15. Create a tuple of fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [87]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [88]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [89]:
# 18. Remove the element 4 from the set
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [90]:
# 19. Find the union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [91]:
# 20. Find the intersection of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

In [92]:
# 21. Create a dictionary with keys "name", "age", and "city" and print it
details = {"name": " KT Dhanush", "age": 20, "city": "Katpadi"}
print(details)

{'name': ' KT Dhanush', 'age': 20, 'city': 'Katpadi'}

In [93]:
# 22. Add a new key-value pair to dictionary
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [94]:

# 23. Access the value associated with the key "name"
info = {'name': 'Alice', 'age': 30}
print(info["name"])

Alice

In [95]:
# 24. Remove the key "age" from dictionary
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data["age"]
print(data)

{'name': 'Bob', 'city': 'New York'}

In [96]:
# 25. Check if the key "city" exists in the dictionary
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [97]:
# 26. Create a list, a tuple, and a dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [98]:
# 27. Create a list of 5 random numbers between 1 and 100, sort and print
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[2, 21, 23, 74, 98]

In [99]:
# 28. Create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [100]:
# 29. Combine two dictionaries and print result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [101]:
# 30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}